<%- include ("template/cabecera") %> 
<form action="/productos" method="post">
    <div class="form__group">
      <label for="name">Name</label>
      <input id="name" type="text" name="title" placeholder="Product name" required />
    </div>
    <div class="form__group">
      <label for="price"> Price</label>
      <input id="price" type="number" name="price" placeholder="3000" required />
    </div>
    <div class="form__group">
      <label for="image">Image</label>
      <input id="image" type="text" name="thumbnail" placeholder="Image URL" required />
    </div>
    <div class="form__group">
      <button type="submit">Add New Product</button>
    </div>
  </form>