<h2>Vista de  productos</h2>
<form action="/api/productos" method="post">
    <label for="POST-name">Nombre:</label>
    <input id="POST-name" type="text" name="tittle" />
    <label for="POST-name">Precio:</label>
    <input id="POST-name" type="text" name="price" />
    <label for="POST-name">Imagen:</label>
    <input id="POST-name" type="text" name="thumbnail" />
    <input type="submit" value="Guardar" />
</form>